
<div class="v-flex">
    <p-toolbar>
      <div class="ui-toolbar-group-left">
        <button pButton label="Журнал компетенций"
                class="caption" disabled
                style="background: none">
        </button>
  
        <div class="splitter"></div>
  
        <button pButton icon="fa fa-sync-alt"
                (click)="t.reload()" pTooltip="Обновить таблицу">
        </button>
  
        <button pButton icon="fa fa-filter"
                (click)="filter=!filter" pTooltip="Открыть панель фильтров">
        </button>
  
        <ng-template #applicant>
          <div class="splitter"></div>
  
          <button pButton icon="fa fa-plus"
                  pTooltip="Создать черновик компетенции" (click)="startCreateCompetent()">
          </button>
  
          <button pButton icon="fa fa-pencil-alt"
                  pTooltip="Редактирование компетенции"
                  [disabled]="isDisabledButton('edit')"
                  (click)="startUpdateCompetent()">
          </button>
  
          <button pButton icon="fas fa-trash-alt"
                  class="ui-button-danger"
                  [pTooltip]="selectedCompetents.length > 1 ? 'Удалить компетенции' : 'Удалить компетенцию'"
                  (click)="deleteCompetent()"
                  [disabled]="isDisabledButton('delete')">
          </button>
          </ng-template>
          </div>  
    </p-toolbar>
  
    <div class="v-flex-grow">
      <app-table2 #t
                  [(selection)]="selectedCompetents"
                  selectionMode="multiple"
                  (cellClicked)="onCellClicked($event)"
                  [filter]="filter"
                  [lazy]="false"
                  [value]="competents"
                  [getRowId]="getRowId"
                  settingsKey="Competent-list">
        <column field="id" header="№ заявки" [width]="140"></column>
        <column field="CompetentType.typeTitle" header="Тип заявки"></column>
        <column field="CompetentStatus.statusTitle" header="Статус заявки"></column>
        <column field="applicantFullName" header="Заявитель (кому справка)"></column>
        <column field="applicant.personalNumber" header="Табельный №" [width]="140"></column>
        <column field="applicant.department.code" header="Подразделение" [width]="140"></column>
        <column field="registrationDate" header="Дата создания" type="date" [width]="140"></column>
        <column field="copiesCount" header="Количество копий" [width]="100"></column>
        <column field="period" header="Период" [width]="140"></column>
        <column field="requirementPlace" header="Место требования"></column>
        <column field="authorNotes" header="Примечание автора"></column>
        <column field="authorFullName" header="Автор"></column>
        <column field="executorFullName" header="Исполнитель"></column>
        <column field="executionDate" header="Дата исполнения" type="date" [width]="140"></column>
        <column field="executorComments" header="Комментарий исполнителя"></column>
      </app-table2>
    </div>
  </div>
  