<div class="app-center">
  <div class="login-form" [class.disabledForm]="loading"
       (keydown)="($event.key == 'Enter' && loading == false) ? auth() : null">
    <div style="width: 100%; text-align: center">
      <h5 style="color: #003274; font-size: 20px; font-family: Arial;">АВТОРИЗАЦИЯ</h5>
    </div>

    <div class="login-form-line">
      <span style="color: #003274">Логин</span>
      <input type="text" name="username" [(ngModel)]="user.username" placeholder="Введите логин"/>
    </div>

    <div class="login-form-line">
      <span style="color: #003274">Пароль</span>
      <input type="password" name="password" [(ngModel)]="user.password" placeholder="Введите пароль"/>
    </div>

    <div class="login-form-line">
      <button class="button-orange" pButton label="Войти" (click)="auth()"></button>
    </div>
  </div>
</div>
