<div class="v-flex">
  <p-toolbar>
    <div class="p-toolbar-group-left">
      <span style="color: #003274; font-size: 20px; font-family: Arial;">Список пользователей</span>

      <button pButton icon="pi pi-refresh"
              (click)="onLoad()" pTooltip="Обновить таблицу">
      </button>

      <div class="splitter"></div>

      <button pButton icon="pi pi-plus"
              pTooltip="Добавить пользователя" (click)="startCreateUser()">
      </button>

     <!-- <button pButton icon="pi pi-user-edit"
              pTooltip="Редактирование пользователя"
              [disabled]="!selectedUser"
              (click)="startUpdateUser()">
      </button>-->

      <button pButton icon="pi pi-trash"
              class="ui-button-danger"
              [disabled]="!selectedUser || selectedUser.isAdmin"
              pTooltip="Удалить пользователя"
              (click)="deleteUser()">
      </button>
    </div>
  </p-toolbar>

  <div class="v-flex-grow">
    <p-table [value]="users" [(selection)]="selectedUser" selectionMode="single">
      <ng-template pTemplate="header"  style="color: #003274; font-size: 14px; font-family: Arial;">
        <tr>
          <th style="color: #003274; font-size: 14px; font-family: Arial;" >Логин</th>
          <th style="color: #003274; font-size: 14px; font-family: Arial;" >Имя</th>
          <th style="color: #003274; font-size: 14px; font-family: Arial;" >Отчество</th>
          <th style="color: #003274; font-size: 14px; font-family: Arial;" >Фамилия</th>
          <th style="color: #003274; font-size: 14px; font-family: Arial;" >Email</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body"  let-user>
        <tr [pSelectableRow]="user">
          <td>{{user.username}}</td>
          <td>{{user.firstName}}</td>
          <td>{{user.middleName}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.email}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<app-user-registration #dialog (result)="onLoad()" (hide)="this.userDialogVisible = false"
                       [editMode]="this.editMode" [_visible]="this.userDialogVisible"></app-user-registration>
