<p-tabView (activeIndexChange)="refreshTabs()" class="tabview-flex"
[class.v-flex-grow]="true">
  <p-tabPanel header="Участники">
      <ng-template pTemplate="content">
        <app-participant-list  class="v-flex"></app-participant-list>
      </ng-template>
  </p-tabPanel>
  <p-tabPanel header="Компетенции">
    <ng-template pTemplate="content">
      <app-competent-list  class="v-flex"></app-competent-list>
    </ng-template>
  </p-tabPanel>
  <p-tabPanel header="Команды">
    <ng-template pTemplate="content">
      <app-team-list  class="v-flex"></app-team-list>
    </ng-template>
  </p-tabPanel>
  <p-tabPanel header="Роли">
    <ng-template pTemplate="content">
      <app-role-list  class="v-flex"></app-role-list>
    </ng-template>
  </p-tabPanel>
  <p-tabPanel header="Рабочие места">
    <ng-template pTemplate="content">
      <app-workplace-list  class="v-flex"></app-workplace-list>
    </ng-template>
  </p-tabPanel>
</p-tabView>