<div class="v-flex">
  <p-toolbar>
    <div class="p-toolbar-group-left">
      <span style="color: #003274; font-size: 20px; font-family: Arial;">Список предприятий</span>

      <button pButton icon="pi pi-refresh"
              (click)="onLoad()" pTooltip="Обновить таблицу">
      </button>

      <div class="splitter"></div>

      <!--<button pButton icon="pi pi-plus"
              pTooltip="Добавить предприятие" (click)="startCreateManufacture()">
      </button>

      <button pButton icon="pi pi-trash"
              class="ui-button-danger"
              [disabled]="!manufacture"
              pTooltip="Удалить предприятие"
              (click)="deleteManufacture()">
      </button>-->
    </div>
  </p-toolbar>

  <div class="v-flex-grow">
    <p-table [value]="manufactures" [(selection)]="manufacture" selectionMode="single">
      <ng-template pTemplate="header">
        <tr>
          <th style="color: #003274; font-size: 14px; font-family: Arial;" >Наименование</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-manufacture>
        <tr [pSelectableRow]="manufacture">
          <td>{{manufacture.caption}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<app-manufacture-registration #dialog (result)="onLoad()" (hide)="userDialogVisible = false"
                       [userId]="manufacture?.id" [_visible]="userDialogVisible"></app-manufacture-registration>

<p-messages [(value)]="msgs"></p-messages>
