<div class="ui-g-11" style="margin-top: 0; margin-bottom: 0; padding: 0; width: 100%; height: 100%">
    <div *ngIf="!!this.items" class="v-flex" [style.marginLeft]= "'30px'">
      <p-toolbar [class.detail-ui-toolbar]="true">
        <div class="ui-toolbar-group-left">
          <button pButton icon="fa fa-sync-alt"
                  pTooltip="Обновить таблицу" (click)="loadItems()"></button>
          <button pButton icon="fa fa-filter"
                  (click)="filter=!filter" pTooltip="Открыть панель фильтров"></button>
          <div class="splitter"></div>
        </div>
      </p-toolbar>

      <div class="v-flex-grow">
        <app-table2 #t
                    [selectionMode]="'single'"
                    [filter]="filter"
                    [lazy]="false"
                    [loading]="loading"
                    [value]="items"
                    [getRowId]="getRowId"
                    [rowModelType]='enterprise'
                    [settingsKey]="'participantDetail'"
                    [enableTooltips]="true"
                    (onDataSourceReady)="this.onGridReady($event)"
        >
         <column field="id" header="ID" [visible]="false"></column>
          <column header="Участники">
            <column field="firstName" header="Имя" [width]="160"></column>
            <column field="secondName" header="Фамилия" [width]="160"></column>

          </column>
        </app-table2>
      </div>
    </div>
  </div>
