<p-dialog 
          [header]="'Выберите рабочее место'">
  <form #form="ngForm">    
    <app-lookup name="workplaces" [(ngModel)]="workplaces"
    header="Список доступных для выбора рабочих мест" [style]="{width: '100%'}"
    (ngModelChange)="onWorkplaceChange()"
    required>
<ng-template #lookupAutoComplete>
<p-autoComplete name="workplace" [(ngModel)]="workplace" [suggestions]="workplaces"
            (completeMethod)="searchWorkplaces($event)" [forceSelection]="true"
            [inputStyle]="{width: '100%'}"
            [style]="{width: '100%'}"
            (ngModelChange)="onWorkplaceChange()"
            (onClear)="workplace = null; onWorkplaceChange()"
            field="fullName" appendTo="body"
            placeholder="Введите рабочее место"
            emptyMessage="Рабочее место не найден">
</p-autoComplete>
</ng-template>
<ng-template #lookupTable>
</ng-template>
</app-lookup>
  </form>

  <p-footer>
    <button (click)="save()"
            pButton label="Сохранить"
            [disabled]="form.invalid">
    </button>
    <button (click)="visible = false"
            pButton label="Отмена"
            class="ui-button-secondary">
    </button>
  </p-footer>
</p-dialog>