
<div class="v-flex">
    <p-toolbar>
      <div class="ui-toolbar-group-left">
        <button pButton label="Журнал рабочих мест"
                class="caption" disabled
                style="background: none">
        </button>
  
        <div class="splitter"></div>
  
        <button pButton icon="fa fa-sync-alt"
                (click)="t.reload()" pTooltip="Обновить таблицу">
        </button>
  
        <button pButton icon="fa fa-filter"
                (click)="filter=!filter" pTooltip="Открыть панель фильтров">
        </button>
  
          <div class="splitter"></div>
  
          <button pButton icon="fa fa-plus"
                  pTooltip="Создать описание рабочего места" (click)="startCreateWorkplace()">
          </button>
  
          <button pButton icon="fa fa-pencil-alt"
                  pTooltip="Редактирование рабочего места"
                  (click)="startUpdateWorkplace()">
          </button>
  
          <button pButton icon="fas fa-trash-alt"
                  class="ui-button-danger"
                  [pTooltip]="selectedWorkplaces.length > 1 ? 'Удалить рабочие места' : 'Удалить рабочее места'"
                  (click)="deleteWorkplace()">
          </button>
          </div>  
    </p-toolbar>
  
    <div class="v-flex-grow">
      <app-table2 #t
                  [(selection)]="selectedWorkplaces"
                  selectionMode="multiple"
                  (cellClicked)="onCellClicked($event)"
                  [filter]="filter"
                  [lazy]="false"
                  [value]="workPlaces"
                  [getRowId]="getRowId"
                  settingsKey="participant-list">
                  <column field="id" header="ID" [visible]="false"></column>
                  <column field="designation" header="Описание" [width]="160"></column>
      </app-table2>
    </div>
  </div>
  