@model LoginViewModel
<!--<meta http-equiv="refresh" content="0;url=@Model.RedirectUrl" data-url="@Model.RedirectUrl">-->
<meta http-equiv="redirect" content="0;url=@Model.RedirectUrl" data-redirect="@Model.RedirectUrl">
<meta http-equiv="token" content="0;url=@Model.Token" data-token="@Model.Token">
<meta http-equiv="return" content="0;url=@Model.ReturnUrl" data-return="@Model.ReturnUrl">
<div><label asp-for="RedirectUrl"></label></div>
<div><label asp-for="Token"></label></div>
<div><label asp-for="ReturnUrl"></label></div>
<script src="~/js/redirect-scr.js"></script>
