<div *ngIf="!hasAnyApp" style="position: fixed;top: 50%;left: 50%;transform: translate(-50%, -50%);">
  <label style="align:center;color: #aaaaaa">У Вас нет ни одного приложения, обратитесь в службу поддержки</label>
</div>

<div *ngIf="hasAnyApp" class="outer" style="background: inherit">
  <div class="middle">
    <div class="inner">
      <p-card>
        <div name="menu" class="v-flex-grow" *ngFor="let subMenu of menu;">
          <h4 *ngIf="!!subMenu.title">{{subMenu.title}}:</h4>
          <div name="items" class="ui-g" *ngFor="let items of subMenu.group;">
            <div name="line" *ngFor="let item of items;" class="ui-g-4">
              <button [class]="item.url?'':'disabled'"
                      (mouseover)="hovers[item.url] = true"
                      (mouseout)="hovers[item.url] = false"
                      [ngStyle]="!hovers[item.url] ? {'background-color': item.color, 'border-color': item.color} : {'background-color': item.hoverColor, 'border-color': item.hoverColor}"
                      pButton 
                      [routerLink]="item.url"
                      (click)="false ? onClick(item, $event) : undefined" 
                      [disabled]="!item.url">
                <div class="v-flex-grow">
                  <i [class]="item.icon"></i>
                  {{item.title}}
                </div>
              </button>
            </div>
          </div>
        </div>
      </p-card>
    </div>
  </div>
</div>
